head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Projects Manager Console
    link(rel="stylesheet" type="text/css" href="css/chat.css")
    link(rel="stylesheet" type="text/css" href="css/normalize.css")
    link(rel="stylesheet" type="text/css" href="css/menu.css")
    //字體
    link(rel="stylesheet" type="text/css" href="css/fontawesome-free-6.1.2-web/css/all.css")
    link(rel="stylesheet" type="text/css" href="css/fontawesome-free-6.1.2-web/css/v4-shims.min.css")

    //Bootstrap
    link(rel="stylesheet" type="text/css" href="src/bootstrap3/css/bootstrap-editable.css")
    link(rel="stylesheet" type="text/css" href="src/bootstrap3/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="src/bootstrap3/css/bootstrap-datetimepicker.min.css")
    link(rel="stylesheet" type="text/css" href="src/bootstrap3/css/bootstrap-theme.css")

    link(rel="stylesheet" type="text/css" href="css/table.css")
    link(rel="stylesheet" type="text/css" href="css/select2/select2.css")
    link(rel="stylesheet" type="text/css" href="css/scrollbar/jquery.mCustomScrollbar.css")
    link(rel="stylesheet" type="text/css" href="css/test.css")
    //Alert
    script(type="text/javascript" src="js/jquery-latest.min.js")
    script(type="text/javascript" src="js/sweetalert2.all.min.js")
    script(type="text/javascript" src="js/scrollbar/jquery.mousewheel.min.js")
    script(type="text/javascript" src="js/jquery.easy-pie-chart.js")
    script(type="text/javascript" src="js/sparkline/jquery.sparkline.min.js")
    script(type="text/javascript" src="js/jquery.dataTables.min.js")
    script(type="text/javascript" src="js/jquery.cookie.js")
    script(type="text/javascript" src="cryptoJS/rollups/aes.js")
    script(type="text/javascript" src="js/datepicker/bootstrap-datetimepicker.js")
    script(type="text/javascript" src="js/viewerEditor/jquery.json-editor.min.js")
    script(type="text/javascript" src="js/ua-parser.js")
    //Bootstrap
    script(type="text/javascript" src="src/bootstrap3/js/bootstrap.min.js")
    script(type="text/javascript" src="src/bootstrap3/js/bootstrap.js")
    //Bootstrap plus
    script(type="text/javascript" src="src/bootstrap3/js/bootstrap-editable.js")
    script(type="text/javascript" src="src/bootstrap3/js/bootstrap-confirm-delete.js")
    script(type="text/javascript" src="src/bootstrap3/js/dataTables.bootstrap.js")
    //scrollbar
    script(type="text/javascript" src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js")
    script(type="text/javascript" src="js/select2/select2.min.js")
